body {
    background-color: #d8cbbb;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}
/* General Styling for the Bar */
.navigation-bar {
    width: auto;  /* i'm assuming full width */
    height: auto; /* change it to desired width */
    background-color: #25282c; 
    font-size: 30px;
    overflow: hidden;
    
}
/* Nav Bar Logo Formatting */
.logo {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    margin-right: 50px;
   
}
/* Navigation Bar Text Setup */
.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    height: 100px;       
    line-height: 80px;    
    text-decoration: none;
    padding: 0px 30px;
    color: #d8cbbb;
    text-align: right;
    
}
/* Change the color of links on hover */
.navigation-bar a:hover {
    background-color: #978b79;
    color: black;
    transition: 0.3s ease-out;
  }
  
  /* Change the color of links when active */
.navigation-bar a:active {
    background-color: #978b79;
    color: #d8cbbb;
  }

  * {
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
  }

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    max-width: 78.75rem;
    margin: auto;
    font-size: 30px;
  }
  .hero img {
    height: 37.5rem;
    width: 37.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .bio {
    width: 45rem;
    padding: 0.625rem;
    border-radius: 4px;
    box-shadow: 0px 2px 15px 2px;
  }
  
  .bio h1 {
    margin-bottom: 10px;
  }
  
  .bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
  }
  

.footer-container {
    background-color: #25282c;
    padding-bottom: 10px;
    padding-top: 20px;
}
.footer {
    width: 80%;
    height: 15vh;
    background-color: #25282c;
    color: #d8cbbb;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    margin: 0 auto;
}
.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}
.footer-heading h2 {
    margin-bottom: 2rem;
}
.footer-heading a {
    color: #d8cbbb;
    text-decoration: none;
    margin-bottom: 0.5rem;
}
.footer-heading a:hover {
    color:#978b79;
    transition: 0.3s ease-out;
}
.footer-email-from h2 {
    margin-bottom: 2rem;
}
#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}
#footer-email::placeholder {
    color: #978b79;
}
#footer-email-btn {
   width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #d8cbbb;
    outline: none;
    border: none;
    color: #25282c; 
    font-size: 1rem;
}

#footer-email-btn:hover {
    cursor: pointer;
    background-color: #978b79;
    transition: 0.3s ease-out;
}

#resume {
    background-color: #978b79;
    min-height: 550px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#main-col {
    background-color: #d8cbbb;
    height: 550px;
    width: 70%;
    float: right;
    padding-left: 10px;
    color: #25282c;
}
#sidebar-col {
    background-color: #585a5d;;
    min-height: 550px;
    width: 30%;
    float: left;
    padding-left: 20px;
    color: #d8cbbb;
}
#sidebar-col h2 {
    color: d8cbbb;
}
#resume h1{
    text-align: center;
    color:  #25282c;
}
#resume h2{
    padding-top: 30px;
}

#blog {
    background-color: #978b79;
    min-height: 550px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#main-col {
    background-color: #d8cbbb;
    height: 550px;
    width: 70%;
    float: right;
    padding-left: 10px;
    color: #25282c;
}
#sidebar-col {
    background-color: #585a5d;;
    min-height: 550px;
    width: 30%;
    float: left;
    padding-left: 20px;
    color: #d8cbbb;
}
#sidebar-col h2 {
    color: d8cbbb;
    ima
}
#sidebar-col img {
    height: 20px
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
#blog h1{
    text-align: center;
    color:  #25282c;
}
#blog h2{
    padding-top: 30px;
}
